:root {
	--accent-color: #800000;
	--gradient-color: #f6bb73;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(90% + 0.2vw);
	line-height: 1.5;
	width: 80%;
	max-width: 1024px;
	margin: auto;
	border: 2px solid var(--accent-color);
}
a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}
h1, h2, h3, p, ul {
	padding: 0.25em 0;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}
ul {
	margin-left: 2em;
}

header {
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	& h2 {
		font-size: 175%;
		padding: .5em 0 0 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		width: 100%;
		min-width: 40px;
		max-width: 80px;
		float: left;
		margin: 0.75em 1em;
	}
}

main {
	display: flex;
	padding: 0 1em 1em;
}

main aside {
	flex-basis: 25%;
	padding: 1em;
}

main section {
	flex-basis: 75%;
	padding: 1em;
}

main blockquote {
	font-style: italic;
	padding-left: 1em;
}

main img {
	border: 4px double var(--accent-color);
}

main aside img {
	width: 100%;
	min-width: 40px;
	max-width: 75px;
}

main section img {
	float: right;
	width: 100%;
	min-width: 100px;
	max-width: 250px;
	margin: 0 0 1em 1em;
}

.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: 1em;
}

main section img {
	float: right;
	margin: 0 0 1em 1em;
}

footer {
	background-color: var(--accent-color);
	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

.large {
	font-size: 125%;
}

.speaker {
	h1 {
		color: var(--accent-color);
	}
	h2 {
		color: black;
	}
	p {
		padding: 0.5em 0;
	}
}